.page {
  max-width: 500px;
  margin: auto;
}

.input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button_right {
  display:flex; 
  justify-content:flex-end; 
  width:100%; 
  padding:0;
}